*{margin: 0px;
    padding: 0px;}
#headerPic{
    height: 100vh;
    width: 100%;
    
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    /* background-image: url('img/IMAG0360.jpg');
    background-size:100% 100%;
    background-repeat: no-repeat;
     */
}

#nameLine{
    width: 30%;
    text-align: center;
    top: 24%;
    left: 10%;
    border-color: whitesmoke;
    position: absolute;
    z-index: 1;

}

.header{
    position: relative;
    text-align: center;
    color: white;
    
}

#name{
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 300%;
    font-family: 'Roboto Mono', monospace;
}
#name2{
    position: absolute;
    top: 27%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 200%;
    font-family: 'Roboto Mono', monospace;
}
.text{
    font-family: 'Gayathri', sans-serif;
    margin-left: 5vw;
    margin-right: 5vw;
}

.headers{
    font-family: 'Roboto Mono', monospace;
    color: teal;
    text-align: center;
    font-size: 40px;
}


#aboutSpan{
    display: inline-block;
}
#aboutText{
    width: 25%;
    float: left;
    margin-left: 10%;
    margin-top: 1%;
}

#facePic {
    width: 20%;
    height: 20%;
    background-size: cover;
    display: inline-block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    float: left;
}

.projects{
    background-color: beige;
}

.skills{
    background-color: yellow;
    
}
.contact{
    background-color: gray;
    margin-top: -28px;
}

#project{
    display: inline-block;
}
#pongPic{
    width: 20%;
    height: 20%;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
    float: left;
}

#pongText{
    
}

#watchPic{
    width:40%;
    height: 40%;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
    float: left;
}

#tradeMark{
    text-align: center;
    color: white;
}
#watchText{

}

#p5Pic{
    width:25%;
    height: 25%;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
    float: left;
}

.projectHeaders{
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: xx-large;
}


