
#headerPic{
    height : 25%;
    width : 100%;
    object-fit: cover;
}


.header{
    position: relative;
    text-align: center;
    color: white;
    
}

#name{
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Roboto Mono', monospace;
}

.text{
    font-family: 'Gayathri', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}

.headers{
    font-family: 'Roboto Mono', monospace;
    color: teal;
    text-align: center;
    font-size: 40px;
}

.projects{
    background-color: beige;
}

.skills{
    background-color: whitesmoke;
    margin-top: -28px;
}
.contact{
    background-color: gray;
    margin-top: -28px;
}

#project{
    display: inline-block;
}
#pongPic{
    width: 20%;
    height: 20%;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
    float: left;
}

#pongText{
    
}

#watchPic{
    width:40%;
    height: 40%;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
    float: left;
}

#tradeMark{
    text-align: center;
    color: white;
}
#watchText{

}

#p5Pic{
    width:25%;
    height: 25%;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
    float: left;
}

.projectHeaders{
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: xx-large;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
 
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
 
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
   @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

html{
    scroll-behavior: smooth;
}

.open{
    bottom: 40%;
       left: 0;
       position: fixed;
       z-index: 3000;
       color: #111;
}