html {
    scroll-behavior: smooth;
  }
  * {
    padding: 0px; /* Add a top margin to avoid content overlay */
    margin: 0px;
}
#headerPic{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    margin-bottom: -.4vh;
    /* background-image: url('img/IMAG0360.jpg');
    background-size:100% 100%;
    background-repeat: no-repeat;
     */
}

#nameLine{
    width: 30vw;
    text-align: center;
    top: 18vh;
    left: 2.5%;
    border-color: whitesmoke;
    position: absolute;
    z-index: 1;

}

.header{
    position: relative;
    text-align: center;
    color: white;
    
}

#name{
    position: absolute;
    top: 22.5vh;
    left: 17.5vw;
    transform: translate(-50%, -50%);
    /* font-size: 3.5vw; */
    font-family: 'Roboto Mono', monospace;
}
#smallName{
    position: absolute;
    top: 15%;
    left: 17.55%;
    transform: translate(-50%, -50%);
    /* font-size: 2vw; */
    font-family: 'Roboto Mono', monospace;
}
#name2{
    position: absolute;
    top: 27%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 200%;
    font-family: 'Roboto Mono', monospace;
}
.text{
    font-family: 'Gayathri', sans-serif;
    margin-left: 5vw;
    margin-right: 5vw;
}

.headers{
    font-family: 'Roboto Mono', monospace;
    color: teal;
    text-align: center;
    font-size: 40px;
}


#aboutSpan{
    display: inline-block;
}
#aboutText{
    width: 25%;
    float: left;
    margin-left: 10%;
    margin-top: 1%;
}

#facePic {
    width: 20%;
    height: 20%;
    background-size: cover;
    display: inline-block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    float: left;
}

.projects{
    background-color: beige;
}

.skills{
    background-color: yellow;
    
}
.contact, #contact1{
    background-color: gray;
    margin-top: -28px;
}

#project{
    display: inline-block;
}
#pongPic{
    width: 20%;
    height: 20%;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
    float: left;
}

#pongText{
    
}

#watchPic{
    width:40%;
    height: 40%;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
    float: left;
}

#tradeMark{
    text-align: center;
    color: white;
}
#watchText{

}

#p5Pic{
    width:25%;
    height: 25%;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
    float: left;
}

.projectHeaders{
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: xx-large;
}


/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */


